{% extends "layout.html" %}

{% block title %}
    touge | home
{% endblock %}

{% block body %}

    <pre style="font-family: 'Courier New', monospace; font-size: 12px; letter-spacing: -1px; line-height: 0.9;text-align: center;">
        /$$$$$$$$  /$$$$$$  /$$   /$$  /$$$$$$  /$$$$$$$$      
        |__  $$__/ /$$__  $$| $$  | $$ /$$__  $$| $$_____/      
          | $$   | $$  \ $$| $$  | $$| $$  \__/| $$            
          | $$   | $$  | $$| $$  | $$| $$ /$$$$| $$$$$         
          | $$   | $$  | $$| $$  | $$| $$|_  $$| $$__/         
          | $$   | $$  | $$| $$  | $$| $$  \ $$| $$            
          | $$   |  $$$$$$/|  $$$$$$/|  $$$$$$/| $$$$$$$$      
          |__/    \______/  \______/  \______/ |________/      
    </pre>
    <pre style="font: 14px/13px monospace; color: white; text-align: center;">JDM car lookup &#38; more</pre>
    <div class="row">
        <a href="/" class="menu">Home</a> | 
        <a href="/search" class="menu">Search</a> | 
        <a href="/trivia" class="menu">Trivia</a> | 
        <a href="/about" class="menu">About</a>
    </div>
    <div>
      <br>
      <h3 >What is Touge (峠)</h3> 
      <p>Touge is the Japanese word for mountain pass. But it can also mean a certain style of street racing in Japan which takes place on winding mountainous roads.</p>
      <br>
      <img alt="Image of cars drifting down a mountain pass" class="images-class" src="static/images/index1.jpg">
         
{% endblock %}
