{% extends "layout.html" %}

{% block title %}
    touge | {{ car.manufacturer }} {{ car.model }}
{% endblock %}

{% block body %}
     <pre style="font-family: 'Courier New', monospace; font-size: 12px; letter-spacing: -1px; line-height: 0.9;text-align: center;">
        /$$$$$$$$  /$$$$$$  /$$   /$$  /$$$$$$  /$$$$$$$$      
        |__  $$__/ /$$__  $$| $$  | $$ /$$__  $$| $$_____/      
          | $$   | $$  \ $$| $$  | $$| $$  \__/| $$            
          | $$   | $$  | $$| $$  | $$| $$ /$$$$| $$$$$         
          | $$   | $$  | $$| $$  | $$| $$|_  $$| $$__/         
          | $$   | $$  | $$| $$  | $$| $$  \ $$| $$            
          | $$   |  $$$$$$/|  $$$$$$/|  $$$$$$/| $$$$$$$$      
          |__/    \______/  \______/  \______/ |________/      
    </pre>
    <pre style="font: 14px/13px monospace; color: white; text-align: center;">JDM car lookup &#38; more</pre>
    <div class="row">
        <a href="/" class="menu">Home</a> | 
        <a href="/search" class="menu">Search</a> | 
        <a href="/trivia" class="menu">Trivia</a> | 
        <a href="/about" class="menu">About</a>
    </div>
    <br>
    <div>
      {% if car.image_url %}
        <img class="images-class" src="{{ url_for('static', filename=car.image_url[7:]) }}" alt="{{ car.model }}">
      {% endif %}
      <p><strong>Manufacturer:</strong> {{ car.manufacturer }}</p>
      <p><strong>Model:</strong> {{ car.model }}</p>
      <p><strong>Year:</strong> {{ car.year }}</p>
      <p><strong>Engine:</strong> {{ car.engine }}</p>
      <p><strong>Horsepower:</strong> {{ car.horsepower }}</p>
      <p><strong>Drivetrain:</strong> {{ car.drivetrain }}</p>
      <p><strong>Induction:</strong> {{ car.induction }}</p>
      <p><strong>Trivia:</strong> {{ car.trivia }}</p>
      <br>
      <p><a href="/search" class="menu">← Back to search</a></p>
    </div>
  {% endblock %}                
