{% extends "layout.html" %}

{% block title %}
    touge | search
{% endblock %}

{% block body %}
     <pre style="font-family: 'Courier New', monospace; font-size: 12px; letter-spacing: -1px; line-height: 0.9;text-align: center;">
        /$$$$$$$$  /$$$$$$  /$$   /$$  /$$$$$$  /$$$$$$$$      
        |__  $$__/ /$$__  $$| $$  | $$ /$$__  $$| $$_____/      
          | $$   | $$  \ $$| $$  | $$| $$  \__/| $$            
          | $$   | $$  | $$| $$  | $$| $$ /$$$$| $$$$$         
          | $$   | $$  | $$| $$  | $$| $$|_  $$| $$__/         
          | $$   | $$  | $$| $$  | $$| $$  \ $$| $$            
          | $$   |  $$$$$$/|  $$$$$$/|  $$$$$$/| $$$$$$$$      
          |__/    \______/  \______/  \______/ |________/      
    </pre>
    <pre style="font: 14px/13px monospace; color: white; text-align: center;">JDM car lookup &#38; more</pre>
    <div class="row">
        <a href="/" class="menu">Home</a> | 
        <a href="/search" class="menu">Search</a> | 
        <a href="/trivia" class="menu">Trivia</a> | 
        <a href="/about" class="menu">About</a>
    </div>
    <br>
    <div>
      <input autocomplete="off" autofocus placeholder="Search by manufacturer" type="search">

      <ul></ul>

      <script>
        let input = document.querySelector('input'); 
        input.addEventListener('input', async function() {
          let response = await fetch('/search_car?q=' + encodeURIComponent(input.value));
          let cars = await response.json();
          let html = '';
          for (let car of cars) {
            html += `<li>
              <a href="/car/${car.id}" style="color: white; text-decoration: underline;">
                <strong>${car.manufacturer}</strong> ${car.model}
              </a>
            </li>`;
          }
          document.querySelector('ul').innerHTML = html;
        });

      </script>
    </div>
  {% endblock %}
